<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cipla_Bangalore_API4_091.Properties.Settings.ANFDConnectionString"
            connectionString="Data Source=192.168.2.163;Initial Catalog=ANFD;User ID=sa;Password=Cipla@123"
            providerName="System.Data.SqlClient" />
        <add name="Cipla_Bangalore_API4_091.Properties.Settings.API4_ALL_SOLVENTConnectionString"
            connectionString="Data Source=192.168.2.163;Initial Catalog=API4_ALL_SOLVENT;User ID=sa;Password=Cipla@123"
            providerName="System.Data.SqlClient" />
        <add name="Cipla_Bangalore_API4_091.Properties.Settings.FTAEConnectionString"
            connectionString="Data Source=192.168.2.163;Initial Catalog=FTAE;User ID=sa;Password=Cipla@123"
            providerName="System.Data.SqlClient" />
        <add name="Cipla_Bangalore_API4_091.Properties.Settings.API_IV_RCVD370ConnectionString"
            connectionString="Data Source=192.168.2.163;Initial Catalog=API_IV_RCVD370;User ID=sa;Password=Cipla@123"
            providerName="System.Data.SqlClient" />
        <add name="Cipla_Bangalore_API4_091.Properties.Settings.ALL_JTM_MM1ConnectionString"
            connectionString="Data Source=192.168.2.163;Initial Catalog=ALL_JTM_MM1;User ID=sa;Password=Cipla@123"
            providerName="System.Data.SqlClient" />
        <add name="Cipla_Bangalore_API4_091.Properties.Settings.CrystilliserConnectionString"
            connectionString="Data Source=192.168.2.136;Initial Catalog=Crystilliser;User ID=sa;Password=Cipla@123"
            providerName="System.Data.SqlClient" />
        <add name="Cipla_Bangalore_API4_091.Properties.Settings.RCVDConnectionString"
            connectionString="Data Source=192.168.2.136;Initial Catalog=RCVD;User ID=sa;Password=Cipla@123"
            providerName="System.Data.SqlClient" />
        <add name="Cipla_Bangalore_API4_091.Properties.Settings.ALL_JTM_MM1ConnectionString1"
            connectionString="Data Source=LTPL-126;Initial Catalog=ALL_JTM_MM1;User ID=sa;Password=Cipla@123"
            providerName="System.Data.SqlClient" />
        <add name="Cipla_Bangalore_API4_091.Properties.Settings.FPOGB192_DATABASEConnectionString"
            connectionString="Data Source=LTPL-126;Initial Catalog=FPOGB192_DATABASE;User ID=sa;Password=Cipla@123"
            providerName="System.Data.SqlClient" />
        <add name="Cipla_Bangalore_API4_091.Properties.Settings.ANFDConnectionString1"
            connectionString="Data Source=LTPL-126;Initial Catalog=ANFD;User ID=sa;Password=Cipla@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>